/* page index */
/* Nabvbar */
.navbar {
    position: relative;
    z-index: 1;

}

.navbar-brand {
    font-family: ubuntu;
    font-size: 32px;
}



/* jumbotron */
.jumbotron {
    background-image: url('../img/about.jpg');
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}


.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    /* text-transform: uppercase; */
    margin-top: 150px;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 40px;
    margin-bottom: 30px;
}

.jumbotron p {
    color: white;
    margin-top: -10px;
    font-weight: 500;
}

.jumbotron img {
    width: 30px;
    height: 23px;
}

.jumbotron form {
    text-align: center;
}

.jumbotron form .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150%;
}



/* workingspace */
.workingspace {
    margin-top: 120px;
    text-align: center;
}

.workingspace h3 {
    font-size: 40px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 10px;
}

.workingspace h3 span {
    font-weight: 500;
}

.workingspace p {
    font-size: 18px;
    color: #ACACAC;
    font-weight: 200;
    margin: 30px 0;
}


/* services */
.services {

    margin-top: 100px;
}

.services img {
    margin-top: 20px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.services .card {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.services h5 {
    font-size: 20px;
    color: #007DC5;
    text-align: center;

}

.services p {
    font-size: 15px;
    color: #ACACAC;
    text-align: center;
    font-weight: 200;

}

.services .judul {
    padding-bottom: 40px;
    border-bottom: 1px solid #e0e0e0;
    /* color: #007DC5; */

}

.services .judul h2 {
    color: #007DC5;
}

.services .judul h2 {

    text-align: center;
}

.services .judul p {
    font-size: 15px;
    margin-top: 30px;
    text-align: center;
    color: #ACACAC;


}

/* Partner */
.partner {
    margin-top: 100px;
    background-color: #f2f2f2;


    border-radius: 10px;
}

.partner h2 {
    margin-top: 20px;
}

.partner img {

    width: 100px;
}

.partner .card {
    background-color: transparent;
    padding: 100px;
    border: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* testimonial */
.testimonial {
    margin-top: 200px;
}

.testimonial h5 {
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 24px;
}

.testimonial figure img {
    width: 60px;

    margin: 20px 10px 10px;
    /*atas kirikanan bawah*/

    opacity: 0.6;

}


.testimonial figure img.utama {
    width: 90px;
    opacity: 1;
    margin-top: 5px;
}

.testimonial figure h5 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #1C2C5D;
}

.testimonial figure p {
    font-size: 12px;
    color: #ACACAC;
    margin-top: -5px;
}

.testimonial figcaption {
    text-align: center;
}





/* footer */

.footer {
    margin-top: 100px;

    bottom: 0;
    /* width: 100%; */
    height: 100px;
    padding-top: 30px;
    background-color: #333;
}

.footer p {
    color: #ACACAC;
    font-size: 18px;
}


/* utility */

.tombol {
    text-transform: uppercase;
    border-radius: 40px;

}

/* dekstiop version */
@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -75px;
        height: 640px;

    }

    .jumbotron img {
        width: 30px;
        height: 23px;
    }

    .jumbotron form {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 53%;
    }



    .jumbotron .display-4 {
        font-size: 30px;
    }

    .workingspace {
        text-align: left;

    }

    .services .judul h2 {
        text-align: left;
    }

    .services .judul p {
        text-align: left;
    }

    .partner {
        width: 100%;
        background-size: cover;
        position: relative;

    }

    .partner .card {
        margin-top: -50px;
        margin-left: 10px;
    }



    .testimonial h5 {
        font-size: 32px;
    }


}